<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="time" method="post">
        {% csrf_token %}
        Enter your DOB:</br>
        Day: <input type="number" min="1" max="31"  name = "day" required></br>
        Month: <input type="number" min="1" max="12"  name = "month" required></br>
        Year: <input type="number" max="2020" name = "year" required>
        <input type="submit">
    </form>
</body>
</html>
